@page "/ListarCategoria"
<h3>Categorias</h3>

<table>
    <tr>
        <th>Código</th>
        <th>Descrição</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Terror</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Suspense</th>
    </tr>
    <tr>
        <th>3</th>
        <th> Drama</th>
    </tr>
    <tr>
        <th>4</th>
        <th>Ação</th>
    </tr>
    <tr>
        <th>5</th>
        <th>Comédia</th>

    </tr>
</table>
@code {

}
